<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Perfil</a>
  <a mat-button [routerLink]="['lazyLoad']">Lazy-load</a>

  <button mat-raised-button [matMenuTriggerFor]="loginMenu" *ngIf="!loginDisplay">Inicia sesión</button>
  <mat-menu #loginMenu="matMenu">
    <button mat-menu-item (click)="loginRedirect()">Inicio de sesión usando Redirección</button>
    <button mat-menu-item (click)="loginPopup()">Inicio de sesión usando Popup</button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="logoutMenu" *ngIf="loginDisplay">Cerrar sesión</button>
  <mat-menu #logoutMenu="matMenu">
    <button mat-menu-item (click)="logout()">Cierre de sesión usando Redirección</button>
    <button mat-menu-item (click)="logout(true)">Cierre de sesión usando Popup</button>
  </mat-menu>

</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
